@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@import './reset.css';

$main-font: Roboto, sans-serif;

$black: #2F2F2F;
$white: #FDFDFD;

* {
    color: $black;
    font-family: $main-font;
}

body {
    width: auto;
}

.horizontalPage {
    overflow-x: scroll;
    
    width: auto;
}

.horizontalSection {
    display: inline-block;
    width: 400px;
    height: 100px;
}